@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
padding: 0;
margin: 0;
font-family: Roboto,Shrikhand, sans-serif; 
}

/* LOADER */
.loader
{
display: flex;
Justify-content: center;
align-items: center;
position: fixed;
z-index: 2001;
background: #f5f5f5;
top:0 ;
left: 0;
height: 100vh;
width: 100vw;
animation: disappareance 3s ;
animation-fill-mode: forwards;
}

@keyframes disappareance
{
to
{
   visibility: hidden;

}

}

.spin1
{
height: 200px;
width: 200px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
border: transparent;
border-top: 10px solid #9356DC;
animation: load 3s linear forwards infinite;
}


.spin2
{
height: 150px;
width: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
border: transparent;
border-top: 10px solid #9356DC;
animation: load 3s linear forwards infinite;
}

.spin3
{
height: 100px;
width:100px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
border: transparent;
border-top: 10px solid #9356DC;
animation: load 3s linear forwards infinite;
}

@keyframes load 
{
    from{
    transform: rotate(0deg);
    
    }
    to{
    transform: rotate(360deg);
   
    }
}


/* LOGO */
.logo 
{
display: flex;
justify-content: center;
height: 30px; 
margin-top: 20px;
}

/* ICON+TITRE */
i.fas.fa-map-marker-alt
{
margin-right: 15px;
}

.iconetitre
{
display: flex;
justify-content: center;
align-items: center;
background:#EAEAEA;
height: 70px;
margin-top: 10px; 
font-size: 24px;  
font-weight: bold;
}
/* RECLAM  SOUS-TITRE ET BOUTTON */
.back
{
background: #f6f6f6;
}

.reclam
{
display: flex;
justify-content: center;
text-align: center;
background: #f6f6f6;
padding-top: 65px;
}

.reclam1 
{
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
margin-right: 7px;
}

.reclam2
{
display: flex;
justify-content: center;
align-items: center;
}

.sous-titre
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    background: #f6f6f6;
}
.sous-titre1 
{
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
margin-right: 7px;
font-weight: 300;
}

.sous-titre2
{
display: flex;
justify-content: center;
align-items: center;
font-weight: 300;
}

.explor
{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 50px;
}

button
{
border: transparent ;
/* background: #9356DC; */
/* background: #ff79da; */
/* background: linear-gradient(170deg, #ff79da 10%, #9356dc 100%);  */
background: linear-gradient(0deg ,#CF69DA 10% ,#B260DB 100%);
border-radius: 40px;
margin-top: 50px;
width: 280px;
height: 70px;
margin-top: 40px;
transition: 500ms;
cursor: pointer;
box-shadow: 0 0 10px #9356DC;
font-size: 20px;
color: white;
}

button:hover
{
filter: brightness(1.15);
box-shadow: 0 0 20px #9356DC;
}

.fonction-titre
{
margin-top: 30px;
margin-left: 10px;
}
/* CHOICE */
.choice
{
margin-top: 5rem;
display: flex;
align-items: center;
width: 300px;
height: 80px;
border-radius: 20px;
justify-content: flex-start;
font-size: 20px;
background: #f6f6f6;
margin-top: 20px;
box-shadow: 0 0 20px #c8c8c8;
box-shadow: 0px 5px 20px #c2c2c2;
}

.choice:hover
{
background: #F5EDFF;
}

.choice:hover .fas.fa-mobile-alt
{
color: #9356DC ;
}

.choice:hover .fas.fa-list
{
color: #9356DC;

}

.choice:hover .fas.fa-store
{
color: #9356DC;
}


.fas.fa-mobile-alt , .fas.fa-store ,.fas.fa-list
{
margin-right: 15px;
color: #7E7E7E;
}

.number
{
height: 30px;
width: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: white;
margin-left: -15px;
background: #9356DC;
margin-right: 15px;
min-width: 30px;
}

span
{
font-weight: bold;
}

.card-titre
{
margin-top: 30px;
margin-bottom: 10px;
margin-left: 10px;
}

.fonction
{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
text-align: center;
}
/* CARD,RESTAU-CARD */
.card
{
margin-bottom: 5px;
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.restau-card
{
height: 260px;
width: 300px;
border-radius: 20px;
background: white;
box-shadow:0 0 20px  #ff79da;
box-shadow: 0 15px 20px #c2c2c2;
position:relative;
cursor: pointer;
transform:scale(1);
overflow: hidden;
}

.bloc-icon
{
display: flex;
flex-direction: row;
width: 300px;
position: relative;
transform: scale(1);
}

.bloc-icon:hover
{
transition: 300ms;
transform: scale(1.02);
}

.card-part1 a
{
display: block;
color: black;
text-decoration: none;
}

.card-part2 a
{
display: block;
color: black;
text-decoration: none;
}

.restau-card img 
{
width: 300px;
height: 180px;
border-radius:20px 20px 0 0;
object-fit: cover;
}

.adress
{
margin-right: 46px;
}

.restau-card h3
{
margin-top: 10px;
margin-left: 10px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.restau-card p
{
    margin-top: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

.card-part1 ,.card-part2
{
display: flex;
justify-content: space-around;
width: 50%;
}

.new
{
position: absolute;
top: 12px;
right: 11px;
background: #99E2D0;
border-radius: 2px;
color: #008766;
text-align: center;
padding: 5px;
font-size: 13px;
} 
 /*ICON HEART  */
.far.fa-heart , .fas.fa-heart
{
position: absolute;
top: 200px;
right: 18px;
font-size: 28px;
}

.fas.fa-heart
{
color:#6C64DB;
z-index: 999;
opacity: 0;
transition:  500ms ease-in-out;
transform-origin: left;
}

.far.fa-heart
{
z-index: 999; 
}

.fas.fa-heart:hover
{
    opacity: 1;
}
/* FOOTER */
footer
{
background: rgba(23, 23, 23, 0.8);
display:flex;
justify-content: center;
align-items: center;
height: 220px;
margin-top: 35px;
}
 
.liens
{
display:flex;
flex-direction: column;
justify-content: space-around;
height: 200px;

}
footer h1
{
font-weight: bold;
font-family: shrikhand;
color: white;
font-weight: 100;
font-size: 20px;
}

footer div
{
display: flex;
}

footer p
{
font-weight: bold;
color: white;
}

.fas.fa-utensils
{
margin-right: 16px;
color: white;
}
.fas.fa-hands-helping
{
color: white;
margin-right: 10px;
}

footer a
{
text-decoration: none;
}
/* MEDIA MAX TABLETTE  */
@media (max-width: 1200px)
{

.fonction
{
flex-direction: column;
}   

.card
{   
display: flex;
flex-direction: column;
margin-top: 0px;
}

.card-part1 ,.card-part2
{
width: 100%;
margin-top: 30px;
}

}

/* MEDIA MOBIL */
@media (max-width: 768px)
{

.reclam
{
display: flex;
flex-direction: column;
}

.sous-titre
{
display: flex;
flex-direction: column;
}

.fonction-titre
{
margin-top: 30px;
}

.fonction
{
flex-direction: column;
}

.choice
{

margin-left: 1rem;
margin-right: 1rem;
margin-top: 5rem;
display: flex;
align-items: center;
width: 80%;
height: 80px;
border-radius: 20px;
justify-content: flex-start;
font-size: 15px;
background: #f6f6f6;
margin-top: 20px;
}

.number
{
margin-right: 18px;
}

.fas.fa-mobile-alt ,.fas.fa-list ,.fas.fa-store 
{
font-size: 18px;
margin-right: 18px;
}

.total-card
{
background: #f6f6f6;
}

.card
{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 1200px;
margin-right: 1rem;
margin-left: 1rem;
padding-bottom: 50px;
margin-bottom: 0px;
}

.card-part1 ,.card-part2
{
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 600px;
margin-top: 0px;
}

.card-titre
{
padding-top:50px;
}

.restau-card
{
width: 100%;
position: relative;
background: white;
}

.bloc-icon
{
width: 100%;
}

.restau-card img
{
width: 100%;
}

footer
{
margin-top: 0px;
justify-content: flex-start;

}
.liens
{
  margin-left: 15px;  
}




}
