@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
padding: 0;
margin: 0;
font-family: Roboto,Shrikhand, sans-serif; 
}
header
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 15px;

}
header img
{
 height: 32px;
 margin-top: 15px;
}

.fas.fa-arrow-left
{
position: absolute;
top: 22px;
left: 10px;
font-size: 23px;

}
.fond-resto
{
height: 470px;

}


.fond-resto img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
  .title
  {

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    position: relative;
    background: white;
    margin-top: -60px;
    border-radius: 40px 40px 0 0;
    background: lightgray;
  }
  .bloc-title
  {

  	display: flex;
  	flex-direction: row;
  	align-items: center;
  }
h1

{
text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    font-family: shrikhand,sans-serif;
}
.icon

{

white-space: nowrap;
    margin-left: 10px;

}
.far.fa-heart
{

    font-size: 30px;
    margin-right: -33px;
    z-index: -1;
}

.fas.fa-heart
{


    font-size: 30px;
    color: blue;
    z-index: 1;
    opacity: 0;
    transition: 500ms;
}
.fas.fa-heart:hover
{

    opacity: 1;
}
section
{
display: flex;
justify-content: space-around;
background: lightgray;
}

.info
  {
    width: 90%;
height: 80px;

display: flex;
justify-content: space-between;
border-radius: 10px 10px 10px 10px;
overflow: hidden;
background: white;
box-shadow: 0 0 20px blue;
  }  

  .coche
  {
background: lightgray;
    height: 80px;
    width: 70px;
    border-radius: 0 10px 10px 0;
    margin-right: -70px;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.titre-p
{

  display: flex;  
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 10px;
}


  .p-coche
  {

    display: flex;

    
  }

.price
{

    margin-right: 30px;
    margin-top: 47px;
    font-weight: bold;
}

h3 
{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.info p
{

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    
}
.info:hover .coche
{
margin-right: -1px;
 }

i.fas.fa-check
{     
     background: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: 350ms;
    }

.info:hover  .coche i.fas.fa-check

{
transform: rotate(360deg) ;

}

.bloc-cards
{
background: lightgray;
	
	width: 30%;
	/*height: 380px;*/
	border-radius: 20px;
}


.cards h1
{
/*margin-left: 30px;*/
font-family: roboto;
padding-top: 6px;
text-transform: uppercase;
}

.cards
{

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 350px;

}

.line
{
height: 3px;
width: 50px;
background: green;

}

.title-line
{

	width: 90%;
}


@media (max-width: 1000px)

{
section
{
flex-direction: column;

}


.bloc-cards
{

	width: 100%;
	height: 380px;
	border-radius: 20px;

}

.info
{

	width: 90%;
}




}